@import '../../constants/_breakpoints';

.events {
    &-loading {
        text-align: center;
        margin-top: 20px;
    }

    &-container {
        padding: 60px 30px;

        @media screen and (min-width: $tablet) {
            padding: 90px 0 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            -webkit-box-pack: center;
        }
    }

    &-error {
        margin-top: 30px;
    }

    &-load-more {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 40px;
    }
}